@import url('https://fonts.googleapis.com/css?family=Lucida+Sans');
body{
  background-image: url("images/book_img/availability_bg.jpg");
  background-size: 100% 100%;
  background-color: rgba(255, 255, 255, 0.457);
  
}
.form-style-7{
	max-width:400px;
	margin:50px auto;
	background:rgba(255, 255, 255, 0.457);
	border-radius:2px;
	padding:20px;
	font-family: 'Lucida Sans';
}
.form-style-7 h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: hsl(0, 0%, 36%, 0.457);
	font-size:x-large;
}
.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.form-style-7 li{
	display: block;
	padding: 9px;
	border:1px solid hsla(0, 0%, 100%, 0.457);
	margin-bottom: 30px;
	border-radius: 3px;
}
.form-style-7 li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
  font-family: 'Lucida Sans';
}
.form-style-7 li > label{
	font-family: 'Lucida Sans';
  display: block;
	float: left;
	margin-top: -19px;
	background: hsla(0, 0%, 100%, 0.457);
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #00310d;
	font-size: 14px;
	overflow: hidden;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
  font-family: 'Lucida Sans';
	padding: 0;
	font-family: 'Lucida Sans';
}
.form-style-7 input[type="text"]:focus,.form-style-7 input[type="date"]:focus,.form-style-7 input[type="datetime"]:focus,.form-style-7 input[type="email"]:focus,.form-style-7 input[type="number"]:focus,.form-style-7 input[type="search"]:focus,.form-style-7 input[type="time"]:focus,.form-style-7 input[type="url"]:focus,.form-style-7 input[type="password"]:focus,.form-style-7 textarea:focus,.form-style-7 select:focus 
{
}
.form-style-7 li > span{
	background: hsla(0, 0%, 95%, 0.457);
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #00310d;
	font-family: 'Lucida Sans';
	font-size: 11px;
}
.form-style-7 textarea{
	resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
	background: rgba(255, 255, 255, 0.457);
	border: none;
	padding: 10px 20px 10px 20px;
	font-family: 'Lucida Sans';
  font-style: bold;
  font-weight: 500;
  font-size: 13px;
  border: 1.5px solid #00310d;
	color: #00310d;
}
.form-style-7 input[type="submit"]:hover, .form-style-7 input[type="button"]:hover{
	background: #05814753;
	color:#05814753;
}










































.home_btn_heading
{
    font-family: 'Lucida Sans';
    font-size: 30px;
    color: #00310d;
    /*background-color: #a4d2b1;*/
    display: flex;
    align-items: center;
    justify-content: center
}
.btn1
{
    font-size: 18px;
    color: #00310d;
    margin: 5px;
    padding: 7px 22px;
    text-decoration: none;
    border: 1.5px solid #00310d;
}
.btn2:hover
{
    background: #05814753;
    transition: .5s;
}








