@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Lucida+Sans');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; 
}

header
{
    width: 100vw;
    height: 100vh;
    background-image: url("images/facilities_img/main_facility_poster.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.header-content
{
    margin-top: 90px;
    margin-bottom: 10px;
    color:rgb(255, 255, 255);
    text-align: center;
}

.header-content h2
{
    font-family: 'Lucida Sans';
    font-size: 25px;
    margin-bottom: 7px;
    color: #fff;
}

.heading
{
    height: 100vh;
}
ul
{
    list-style: none;
}

.main-nav
{
    
    display: flex;
    align-items: center;
    float: right;
    margin-top: -30px;
    margin-right: -30px;

}
.main-nav li
{
    margin: 0 30px;
    display: inline-block;
    list-style: none;
}
.main-nav li a
{
    padding: 5px 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200px;
    font-size: 95%;
}
.logo
{
    height: 85px;
    width: auto;
    top: 0;
    right: 0;
    position: absolute;
    margin: 30px 40px;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
}
body{
    font-family: 'Josefin Sans';
    font-size: 100%;
    background-size: cover;
    background-attachment :fixed;
    overflow-x: hidden;
    overflow-y:auto;
}

.line
{
    width: 150px;
    height: 4px;
    background: #a4d2b1;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1
{
    font-size: 19px;
    font-family: 'Lucida Sans';
    color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 190px;
    margin-right: 190px;
    justify-content: justify;
    padding-inline: 165px;
    word-spacing: 3px;
}

a
{
    text-decoration: none;
}

body, html
{
    overflow-x: hidden;
    overflow-y:auto;
    font-family: 'Josefin Sans';
    scroll-behavior: smooth;
}

section
{
    width: 80%;
    margin: 80px auto;
}

.title
{
    text-align: center;
    font-size: 3.5vmin;
    color: #00310d;
    margin-bottom: 0px;
    margin-top: auto;
}

.facility_row
{
    align-items: center;
    width: 100%;
}

.facility_col 
{
    float: left;
    width: 50%;
}

.facility_row:after
{
    display: table;
    clear: both;
}

.facility_row .facility_col img 
{
    border-radius: 50px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 90%;
}

.facility_col img 
{
    width: 600px;
    height: 300px;
    overflow: hidden;
} 

.facility_types .facility_row
{
    margin-top: 50px;
}

h4
{
    font-size: 3.1vmin;
    color:#3d6448;
    margin: 20px auto;
    text-align: center;
}

p
{
    color: #1f281f;
    font-size: 16px;
    padding: 0px 40px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
}






.footer
{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #3d6448;
    text-align: center;
}

.footer p
{
    color:rgb(255, 255, 255);
    margin: 20px auto;
    padding: 20px auto;
}

.facility_row
{
    flex-direction: column; 
}

.facility_row .facility_col
{
    margin: 20px auto;
}




.ctn a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #a4d2b1;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .ctn a:hover {
    opacity: .5;
  }
  #scroll_down_btn1 a {
    padding-top: 60px;
  }
  #scroll_down_btn1 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1.5px solid #a4d2b1;
    border-bottom: 1.5px solid #a4d2b1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  .ctn::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  }


  /*-------------------------------------------------------------------------------------------------------*/
  header .sidenav 
{
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #00310d;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}
header .sidenav a 
{
    padding: 10px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Josefin Sans', cursive;
    text-align: center;
    color: #818181;
    display: block;
    transition: 0.3s;
}
header .menu_icon_align
{
    position: absolute;
    font-family: 'Josefin Sans', cursive;
    color: #fff;
    top: 30px;
    left: 40px;
}
header .sidenav a:hover 
{
    color: #f1f1f1;
}
header .sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) 
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}